<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="invoice">
      <h2 data-cy="invoiceDetailsHeading"><span jhiTranslate="storeApp.invoiceInvoice.detail.title">Invoice</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ invoice.id }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoiceInvoice.code">Code</span></dt>
        <dd>
          <span>{{ invoice.code }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoiceInvoice.date">Date</span></dt>
        <dd>
          <span>{{ invoice.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoiceInvoice.details">Details</span></dt>
        <dd>
          <span>{{ invoice.details }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoiceInvoice.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'storeApp.InvoiceStatus.' + invoice.status }}">{{ invoice.status }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoiceInvoice.paymentMethod">Payment Method</span></dt>
        <dd>
          <span jhiTranslate="{{ 'storeApp.PaymentMethod.' + invoice.paymentMethod }}">{{ invoice.paymentMethod }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoiceInvoice.paymentDate">Payment Date</span></dt>
        <dd>
          <span>{{ invoice.paymentDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoiceInvoice.paymentAmount">Payment Amount</span></dt>
        <dd>
          <span>{{ invoice.paymentAmount }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.invoiceInvoice.productOrderId">Product Order Id</span></dt>
        <dd>
          <span>{{ invoice.productOrderId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/invoice', invoice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
